
@model ChuTrai
@{
    ViewData["Title"] = "Trang đăng nhập";
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<div class="container">
    <div class="row justify-content-center" style="margin-top: 120px ">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header" style="display: flex; justify-content: center; align-items: center; font-size: 25px; font-weight: bold; background-color: #DEB887; color: #800000;">Xin mời đăng nhập</div>
                <div class="card-body">
                    <form asp-action="Login" method="post">
                        <div asp-validation-summary="All"></div>
                        <div class="form-group" style="color: #800000;">
                            <label asp-for="Account" class="form-label"><i class="fas fa-user "></i> Username</label>
                            <input asp-for="Account" class="form-control" placeholder="Tên tài khoản" />
                            <span asp-validation-for="Account" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="color: #800000; ">
                            <label asp-for="Password" class="form-label"><i class="fas fa-lock"></i> Password </label>
                            <input asp-for="Password" type="password" class="form-control" placeholder="Mật khẩu " />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary w-100" style="background-color: #8B4513">Đăng nhập</button>
                        </div>
                        <div class="text-center mt-3">
                            <span style="font-size: 14px;">Nếu bạn chưa có tài khoản, hãy <i class="fas fa-arrow-down ml-2"></i> </span>
                            <a href="@Url.Action("RegisterChuTrai", "ChuTrai")" style="display: flex; justify-content: center; align-items: center; font-size: 20px; color: #8B4513; text-decoration: none;">
                                Đăng ký ngay
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
