@model Happy_Meat_Farm.Models.ChuTrai

@{
    ViewData["Title"] = "Trang đăng nhập";
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
}
<style>
    .form-control {
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #aaa;
        background-color: transparent;
        transition: all 0.3s;
    }

        .form-control:focus {
            border-bottom: 2px solid #007bff;
            box-shadow: none;
            outline: none;
            background-color: #FFEFD5; /* Thêm thuộc tính này để đổi màu nền khi focus */
        }

        .form-control::-webkit-input-placeholder {
            color: #aaa;
            transition: all 0.3s;
        }

        .form-control:focus::-webkit-input-placeholder {
            color: #007bff;
        }

        .form-control:not(:focus):not(:placeholder-shown)::-webkit-input-placeholder {
            color: transparent;
        }

    .card {
        margin-top: 50px;
    }

    .form-container {
        display: flex;
        justify-content: space-between;
    }

        .form-container .form-group {
            width: 48%;
        }
    .col-md-6 .form-group {
        width: 100%;
    }
    .col-md-6{
        width: 100%;
    }
</style>
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header" style="font-weight: bold; color: #8B4513; background-color: #DEB887 ">Đăng ký tài khoản</div>
            <div class="card-body">
                <form asp-controller="ChuTrai" asp-action="RegisterChuTrai" method="post">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="form-group" >
                                <label style="color: #8B4513;">Tên tài khoản:</label>
                                <input asp-for="Account" class="form-control" />
                                <span asp-validation-for="Account" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label style="color: #8B4513;">Mật khẩu:</label>
                                <input type="password" asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label style="color: #8B4513;">Nhập lại mật khẩu:</label>
                                <input type="password" asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label style="color: #8B4513;">CCCD:</label>
                                <input asp-for="CCCD" class="form-control" />
                                <span asp-validation-for="CCCD" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label style="color: #8B4513;">Tên chủ trại:</label>
                                <input asp-for="TenChuTrai" class="form-control" />
                                <span asp-validation-for="TenChuTrai" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label style="color: #8B4513;">Giới tính:</label>
                                <input asp-for="GioiTinh" class="form-control" />
                                <span asp-validation-for="GioiTinh" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label style="color: #8B4513;">Email: </label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label style="color: #8B4513;">Địa chỉ:</label>
                                <input asp-for="DiaChi" class="form-control" />
                                <span asp-validation-for="DiaChi" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label style="color: #8B4513;">Số điện thoại:</label>
                                <input asp-for="SDT" class="form-control" />
                                <span asp-validation-for="SDT" class="text-danger"></span>
                            </div>

                            <div class="form-group d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary" style="background-color: #8B4513">Đăng ký</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>