<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Happy Meat Farm</title>
    <!--My CSS-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!--Boxicons-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-container">
            <div class="sidebar-brand ">
                
                <h4 class="text-white"><span class=""></span>Happy Meat Farm</h4>
                <div class="sidebar-menu">
                    <ul>
                        <li class="nav-item">
                            <a class="nav-link text-white " asp-area=" " asp-controller="Home" asp-action="Index">
                                <i class='bx bx-home'></i>
                                <span class="text"></span>Tổng quan trang trại
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area=" " asp-controller="Home" asp-action="QuanLyCongViec">
                                <i class='bx bx-task'></i>
                                <span class="text"></span>Quản lý công việc
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area=" " asp-controller="Home" asp-action="QuanLyVatNuoi">
                                <i class='bx bx-bell'></i>
                                <span class="text"></span>Quản lý vật Nuôi
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area=" " asp-controller="Home" asp-action="QuanLyBanHang">
                                <i class='bx bx-cart'></i>
                                <span class="text"></span>Quản lý bán Hàng
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area=" " asp-controller="Home" asp-action="ThongKe">
                                <i class='bx bxs-report'></i>
                                <span class=""></span>Thống kê
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="main-content">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="banner-container">
                <div class="search-wrapper">
                    <span class="search"></span>
                    <input type="search" placeholder="Tìm kiếm" />
                </div>
            </div>
            <li class="nav-item dropdown">
                <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                    <div class="navbar-profile text-white">
                        <p class="mb-0 d-none d-sm-block navbar-profile-name">User_Name</p>
                        <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                    <h6 class="p-3 mb-0">Hồ Sơ</h6>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                                <i class="mdi mdi-settings text-success"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <p class="preview-subject mb-1">Cài đặt</p>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                                <i class="mdi mdi-logout text-danger"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <p class="preview-subject mb-1">Đăng xuất</p>
                        </div>
                    </a>
                </div>
            </li>
        </nav>

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
   
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2023 - Happy Meat Farm - Project Design - VJIT <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </div>
        </footer>
    
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
