<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - Happy Meat Farm</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-P2i+PvOaGJLc9IdbUPyBDnnp+IbcA7MWdZ1HhZT6U+LsU/g1sjUzBKLBNJgxQpi/RRR+I/54Ph4n4Zbx7Vp/Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        body {
            background-image: url("/images/background.jpg");
            background-size: cover;
            background-position: center;
        }
    </style>
</head>
@*style="background-color: #FAF0E6;"*@
<body>
    <div class="loader_bg">
        <div class="loader"><img src="~/images/loadfarm.gif" alt="#" /></div>
    </div>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-color border-bottom box-shadow mb-3" style="background-color: #DEB887; height: 60px;">
            <div class="brand">
                <h4 class="font-weight-bold" style="color: #800000; font-size: 35px; margin-top: 7px">
                    HAPPY MEAT FARM
                </h4>
            </div>
        </nav>
    </header>
    <script src="~/js/script.js"></script>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted" style=" margin-left: 0px; color: white;">
        <div class="text-center" style="color: white">
            &copy; 2023 - Happy Meat Farm - Version 1.0 - Project Design By VJIT
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>

