@model Happy_Meat_Farm.Models.ThuocModel 

@{
    ViewData["Title"] = "Thêm Thuốc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Thêm mới thuốc</h2>

<form method="post" asp-action="CreatePost">
    <div class="form-group">
        <label asp-for=" TenThuoc" class=""> Tên thuốc </label>
        <input asp-for="TenThuoc" type="text" class="form-control" />
        <span asp-validation-for="TenThuoc" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NSX" class=""> Ngày sản xuất </label>
        <input asp-for="NSX" type="date" class="form-control" />
        <span asp-validation-for="NSX" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LoaiThuoc" class=""> Loại thuốc </label>
        <input asp-for="LoaiThuoc" class="form-control" />
        <span asp-validation-for="LoaiThuoc" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ChiDinh" class=""> Chỉ định </label>
        <input asp-for="ChiDinh" class="form-control" />
        <span asp-validation-for="ChiDinh" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LieuLuong" class=""> Liều lượng </label>
        <input asp-for="LieuLuong" class="form-control" />
        <span asp-validation-for="LieuLuong" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DungTich" class=""> Dung Tích </label>
        <input asp-for="DungTich" class="form-control" />
        <span asp-validation-for="DungTich" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="HanDung" class=""> Hạn Sử Dụng </label>
        <input asp-for="HanDung" type="date" class="form-control" />
        <span asp-validation-for="HanDung" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DonGia" class=""> Đơn Giá </label>
        <input asp-for="DonGia" class="form-control" />
        <span asp-validation-for="DonGia" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
<button class="btn btn-primary"><a class="text-white" asp-action="Index">Trở về danh sách</a></button>
