@model Happy_Meat_Farm.Models.ThuocModel

@{
    ViewData["Title"] = "Chỉnh sửa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Thay đổi thông tin trang thiết bị</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditPost">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="_id" class="control-label">ID</label>
                <input asp-for="_id" class="form-control" />
                <span asp-validation-for="_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenThuoc" class="control-label">Tên thuốc</label>
                <input asp-for="TenThuoc" class="form-control" />
                <span asp-validation-for="TenThuoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NSX" class="control-label">Ngày sản xuất</label>
                <input asp-for="NSX" class="form-control" />
                <span asp-validation-for="NSX" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoaiThuoc" class="control-label">Loại thuốc</label>
                <input asp-for="LoaiThuoc" class="form-control" />
                <span asp-validation-for="LoaiThuoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChiDinh" class="control-label">Chỉ định</label>
                <input asp-for="ChiDinh" class="form-control" />
                <span asp-validation-for="ChiDinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LieuLuong" class="control-label">Liều lượng</label>
                <input asp-for="LieuLuong" class="form-control" />
                <span asp-validation-for="LieuLuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DungTich" class="control-label">Dung tích </label>
                <input asp-for="DungTich" class="form-control" />
                <span asp-validation-for="DungTich" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HanDung" class="control-label">Hạn sử dụng</label>
                <input asp-for="HanDung" class="form-control" />
                <span asp-validation-for="HanDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonGia" class="control-label">Đơn giá</label>
                <input asp-for="DonGia" class="form-control" />
                <span asp-validation-for="DonGia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_idNongTrai" class="control-label">Thuộc nông trại</label>
                <input asp-for="_idNongTrai" class="form-control" />
                <span asp-validation-for="_idNongTrai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_idKiemKe" class="control-label">ID Kiểm kê</label>
                <input asp-for="_idKiemKe" class="form-control" />
                <span asp-validation-for="_idKiemKe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_idPhieuNhapThuoc" class="control-label">ID Phiếu Nhập</label>
                <input asp-for="_idPhieuNhapThuoc" class="form-control" />
                <span asp-validation-for="_idPhieuNhapThuoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@*<div>
    <button class="btn btn-primary">
        <a class="text-white" asp-action="Index">Back to List</a>
    </button>
</div>*@



