@{
    ViewData["Title"] = "Bầy Đàn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Happy_Meat_Farm.Models.CaThe>

<table>
    <tr>
        <th>Mã Cá Thể</th>
        <th>Tên Cá Thể</th>
        <!-- ... -->
    </tr>
    @foreach (var caThe in Model)
    {
        <tr>
            <td>@caThe.MaBayDan</td>
            <td>@caThe.NgayTuoi</td>
            <!-- ... -->
        </tr>
    }
</table>

