@{
    ViewData["Title"] = "Bầy Đàn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Happy_Meat_Farm.Models.BayDan>

<h2>Danh Sach Bay Dan</h2>

<table class="table">
    <thead>
        <tr>
            <th>Ma Bay Dan </th>
            <th>Ma Vat Nuoi</th>
            <th>Ma Chuong</th>
            <th>Ngay tuoi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>@Html.DisplayFor(modelItem => item.MaBayDan)</tr>
        }
    </tbody>
</table>