@{
    ViewData["Title"] = "Tổng quan";
}

<div>
    <h1>@ViewData["Title"]</h1>
</div>
<div class="index-container">
    <div class="temperature box">
        <h2>Nhiệt độ môi trường</h2>
        <p class="value">25 độ C</p>
    </div>
    <div class="revenue box">
        <h2>Thống kê doanh thu</h2>
        <p class="value">$50,000</p>
    </div>
    <div class="sochuong box">
        <h2>Số lượng chuồng nuôi</h2>
        <p class="value">4 chuồng</p>
    </div>
    <div class="vatnuoi box">
        <h2>Số lượng vật nuôi</h2>
        <p class="value">20 con</p>
    </div>
    <div class="daily-report">
        <h2>Thông tin trang trại</h2>
        <ul>
            <li>Số nhân viên: [Số lượng nhân viên]</li>
            <li>Số lượng heo giống: [Số lượng heo giống]</li>
            <li>Số lượng heo con: [Số lượng heo con]</li>
            <li>Số lượng heo thịt: [Số lượng heo thịt]</li>
        </ul>
    </div>
    <div class="daily-report">
        <h2>Lịch tiêm chủng</h2>
        <ul>
            <li>Ngày [XX/XX/XXXX] [mã chuồng] [loại thuốc]</li>
            <li>Ngày [XX/XX/XXXX] [mã chuồng] [loại thuốc]</li>
            <li>Ngày [XX/XX/XXXX] [mã chuồng] [loại thuốc]</li>
            <li>Ngày [XX/XX/XXXX] [mã chuồng] [loại thuốc]</li>
        </ul>
    </div>
</div>

