@{
    ViewData["Title"] = "Tổng quan";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>
<div class="index-container">
    <div class="temperature box">
        <h2>Nhiệt độ môi trường</h2>
        <p class="value">25 độ C</p>
    </div>
    <div class="revenue box">
        <h2>Thống kê doanh thu</h2>
        <p class="value">$50,000</p>
    </div>
    <div class="vatnuoi box">
        <h2>Số lượng vật nuôi</h2>
        <p class="value">20 con</p>
    </div>


</div>

