@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bảng Tin</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">Nhiệt độ môi trường</div>
        <div class="col-md-4">Chuồng trại</div>
        <div class="col-md-4">Thống kê chi tiêu</div>
    </div>
</div>

