@{
    ViewData["Title"] = "Tổng quan trang trại";
}
<script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-analytics.js"></script>
<script src="https://firebase.google.com/docs/web/learn-more#config-object"></script>
<script src="https://firebase.google.com/docs/web/setup#available-libraries"></script>

<div>
    <h1>@ViewData["Title"]</h1>
</div>

<div class="index-container">
    <script src="https://cdn.lordicon.com//libs/frhvbuzj/lord-icon-2.0.2.js"></script>

    <div class="temperature box box1">
        <h2>Nhiệt độ môi trường </h2>
        <p class="value" id="temp"></p>
    </div>

    <div class="revenue box box2">
        <h2>Độ Ẩm </h2>
        <p class="value" id="wet"></p>
    </div>
    <div class="sochuong box box3">
        <h2>Số lượng chuồng nuôi</h2>
        <p class="value">4 chuồng</p>
    </div>
    <div class="vatnuoi box box4">
        <h2>Số lượng vật nuôi</h2>
        <p class="value">20 con</p>
    </div>
    <div class="daily-report">
        <h2>Thông tin trang trại</h2>
        <ul>
            <li>Số nhân viên: [Số lượng nhân viên]</li>
            <li>Số lượng heo giống: [Số lượng heo giống]</li>
            <li>Số lượng heo con: [Số lượng heo con]</li>
            <li>Số lượng heo thịt: [Số lượng heo thịt]</li>
        </ul>
    </div>
    <div class="daily-report">
        <h2>Lịch tiêm chủng</h2>
        <ul>
            <li>Ngày [XX/XX/XXXX] [mã chuồng] [loại thuốc]</li>
            <li>Ngày [XX/XX/XXXX] [mã chuồng] [loại thuốc]</li>
            <li>Ngày [XX/XX/XXXX] [mã chuồng] [loại thuốc]</li>
            <li>Ngày [XX/XX/XXXX] [mã chuồng] [loại thuốc]</li>
        </ul>
    </div>
</div>
<!--https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-database.js"></script>

<script src="https://firebase.google.com/docs/web/learn-more#config-object"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-database.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use>
<script src="https://firebase.google.com/docs/web/setup#available-libraries"></script>
=======
<!--https://firebase.google.com/docs/web/learn-more#config-object-->
<script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-database.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to usehttps://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-analytics.js"></script>

<script>// Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    var firebaseConfig = {
        apiKey: "AIzaSyCiSaknvNYmF3wd578-plD_5NWSA7PyjSY",
        authDomain: "esp8266-database-inventor.firebaseapp.com",
        databaseURL: "https://esp8266-database-inventor-default-rtdb.firebaseio.com",
        projectId: "esp8266-database-inventor",
        storageBucket: "esp8266-database-inventor.appspot.com",
        messagingSenderId: "423165376147",
        appId: "1:423165376147:web:01b7d90369ef89bd5bff66",
        measurementId: "G-6Y0CS5BME0"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();



    //functions
    // make sure that the name in ' ' match with name of your database child
    var temp = document.getElementById('temp');
    var dbRef = firebase.database().ref().child('TEMPERATURE');
    dbRef.on('value', snap => temp.innerText = snap.val());


    var wet = document.getElementById('wet');
    var dbRef2 = firebase.database().ref('HUMIDITY');
    dbRef2.on('value', snap => wet.innerHTML = snap.val());</script>
<script src="~/js/JavaScript.js"></script>






