@{
    ViewData["Title"] = "Quản lý công việc";
}
<style>
    body {
        background-image: none;
        background-size: cover;
        background-position: center;
    }
</style>
<h3>Danh sách nhiệm vụ của nhân viên</h3>
