
@{
    ViewData["Title"] = "QuanLyNhanSu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách nhân viên</h2>

<p>
    @Html.ActionLink("Thêm Mới", "Themdienthoaimoi")
</p>
<table class="table" border="1">

    <tr>
        <th style="width:100px"> Mã nhân viên </th>
        <th style="width:200px"> Tên nhân viên </th>
        <th style="width:120px"> CCCD </th>
        <th style="width:120px"> SDT</th>
        <th style="width:150px"> Địa chỉ </th>


    </tr>

    

</table>
